
<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'users/styles.css'%}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Disciplia: Online Discipleship Tools</title>

    <link rel="icon" type="image/svg" href="{% static 'base/logo.svg'%}"/>

    <link rel="apple-touch-icon" href="{% static 'users/img/apple-touch-icon.png'%}">
  </head>

<body>


<div class="fluid-container members_header">
<h1>@ibchighland</h1>
</div>

<div class="container-fluid members_list">
  <div class="row .no-gutters">
    <div class="col-12">
      <div class="picture_wrapper">
        <img src="{% static 'users/img/avatar_icon.png' %}" alt="">
      </div>
      <div class="content_wrapper">
        <h1>Jane Doe</h1>
        <p>Invitation pending</p>
      </div>
      <div class="status_wrapper">
        <img src="{% static 'users/img/complete.svg'%}" alt="">
      </div>

    </div>
    <div class="col-12">
      <div class="picture_wrapper">
        <img src="{% static 'users/img/avatar_icon.png' %}" alt="">
      </div>
      <div class="content_wrapper">
        <h1>Jonthan Hrovat</h1>
        <p>Bible in a Year</p>
      </div>
      <div class="status_wrapper">
        <img src="{% static 'users/img/complete.svg'%}" alt="">
      </div>

    </div>
    <div class="col-12">
      <div class="picture_wrapper">
        <img src="{% static 'users/img/avatar_icon.png' %}" alt="">
      </div>
      <div class="content_wrapper">
        <h1>Peter Atwood</h1>
        <p>Bible in a Year</p>
      </div>
      <div class="status_wrapper">
        <img src="{% static 'users/img/complete.svg'%}" alt="">
      </div>

    </div>
  </div>

</div>

</body>
</html>