html {
  font-size: 100%; // In most browsers, this defaults to 16 pixels

  @media (min-width: 768px) {
    font-size: 112.5%; // = 18 pixels in most browsers
  }
  overflow-x: hidden;
}

body {
  color: #121212;
  background-color: white;
  padding: 0;

  @media (min-width: 992px) {
    background-image: url('background.png');
    background-repeat: no-repeat;
  }

}

.image {
  height: 530px;
}

h1, .h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  margin-bottom: 30px;
}

.navbar {
  border-bottom: 1px solid #DDE0ED;
  background-color: white;
}

.brand_text {
  color: #AF2EFF;
}

.btn {
  height: 65px;
  width: 100%;
  background-color: #AF2EFF;
  border: none;
  font-size: 1.2em;
  font-weight: 500;
  max-width: 300px;
}

.btn:hover {
  background-color: #7B00C8;
}

.cta_container {
  background-color: #E7BFFF;
  padding-bottom: 50px;
  padding-top: 0px;
  margin-top: 30%;
  padding-left: 50px;
  padding-right: 50px;
  h1 {
    margin-top: 50px;
    color: #7B00C8;
  }
  .btn {
    margin-top: 30px;
    background-color: #7B00C8;
  }

}

.row {
  margin-top: 70px;
}

.col-md-6 {
  margin-top: 20px;
}

