body {
  background-color: #F5F5F5; }

.profile_section {
  background-color: white;
  height: 87px;
  width: 100%; }

.profile_img_wrapper {
  display: inline-block;
  width: 20%;
  line-height: 87px; }
  .profile_img_wrapper img {
    width: 54px;
    height: 54px;
    margin-bottom: 26px;
    margin-left: 10px; }

.profile_wrapper {
  padding-top: 17px;
  height: 87px;
  width: 60%;
  display: inline-block;
  padding-left: 5px; }
  .profile_wrapper h1 {
    font-size: 24px;
    margin: 0; }
  .profile_wrapper p {
    font-size: 15px;
    margin: 0;
    line-height: 20px;
    vertical-align: middle; }
    .profile_wrapper p img {
      display: inline-block;
      height: 12px;
      width: 12px; }

.row {
  margin: 0; }

.tasks_section {
  background-color: white;
  height: 300px;
  width: 100%;
  margin-top: 15px; }
  .tasks_section button {
    height: 50px;
    width: 200px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 25px; }

.button {
  background-color: #AF2EFF;
  color: white;
  font-weight: 500;
  border-radius: 10px; }

ol li {
  list-style-type: none; }
  ol li img {
    margin-right: 5px; }

ol {
  padding-left: 30px; }

.header_text {
  display: inline-block;
  height: 55px;
  width: 60%;
  background-color: white; }
  .header_text h1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px; }
  .header_text p {
    margin-left: 10px;
    color: #5C5C66; }

.status_icon {
  display: inline-block;
  height: 55px;
  width: 40%; }
  .status_icon h1 {
    margin-top: 22px;
    float: right;
    margin-right: 15px;
    width: 84px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: #AF2EFF;
    color: white;
    border-radius: 30px; }

.content_title {
  display: inline-block;
  height: 55px;
  width: 40%; }
  .content_title h1 {
    margin-left: 10px;
    font-size: 33px; }

.streak_section {
  display: inline-block;
  height: 55px;
  width: 60%; }
  .streak_section p {
    margin-right: 15px;
    margin-top: 15px;
    text-align: right;
    font-size: 15px;
    color: #5C5C66; }

.calendar_container {
  background-color: white;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-top: 20px; }

.calendar_section {
  background-color: white;
  width: 315px;
  margin: auto; }
  .calendar_section h2 {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    width: 320px;
    margin-bottom: 10px; }
  .calendar_section th {
    text-align: center;
    width: 14.285%;
    font-size: 14px; }
  .calendar_section td {
    font-size: 14px;
    width: 45px;
    height: 45px;
    text-align: center; }

.completed_date {
  vertical-align: middle;
  line-height: 34px;
  width: 35px;
  height: 35px;
  background-color: #AF2EFF;
  color: white;
  border-radius: 100%;
  margin: 0 auto; }

.metric_card {
  min-width: 290px;
  max-width: 335px;
  height: 80px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: block;
  margin: 25px auto 0px auto;
  padding: 0px; }
  .metric_card .img_wrapper {
    display: inline-block;
    height: 100%;
    width: 20%; }
    .metric_card .img_wrapper img {
      margin-bottom: 30px;
      margin-left: 20px; }
  .metric_card .content_wrapper {
    margin-top: 15px;
    display: inline-block;
    height: 100%;
    width: 75%; }
  .metric_card .content {
    display: inline-block; }
  .metric_card h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0px; }
  .metric_card p {
    font-size: 18px;
    margin-bottom: 0px;
    color: #5C5C66; }

/*# sourceMappingURL=styles.css.map */
